<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>Услуги</ion-title> -->
    <ion-segment value="service" scrollable>
      <ion-segment-button value="service" (click)="selectTab('service')">
        <ion-label>Услуги</ion-label>
      </ion-segment-button>
      <ion-segment-button value="group" (click)="selectTab('group')">
        <ion-label>Группы</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-service-tab-service
    *ngIf="activeTab === 'service'"
  ></app-service-tab-service>
  <app-service-tab-group *ngIf="activeTab === 'group'"></app-service-tab-group>
</ion-content>
