<ion-grid class="service-item" *ngIf="service._id">
  <ion-row>
    <ion-col size="12">
      <p class="service-item__name">{{ service.name }}</p>
      <p class="service-item__desc">{{ service.desc }}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="10">
      <div class="counter">
        <div class="counter__body">
          <button
            class="counter__btn counter__btn--down"
            type="button"
            (click)="downCount()"
            [disabled]="service.count <= 1"
          >
            -
          </button>
          <input
            class="counter__input"
            type="text"
            value="{{ service.count }} {{ service.unit.shortName }}"
            readonly
          />
          <button
            class="counter__btn counter__btn--up"
            type="button"
            (click)="upCount()"
          >
            +
          </button>
        </div>
        <p class="counter__summ">
          Сумма:
          {{ service.price | number: '0.0-2' }} руб * {{ service.count }} =
          <span class="counter__summ-total"
            >{{ service.count * service.price | number: '0.0-2' }} руб.</span
          >
        </p>
      </div>
    </ion-col>
    <!-- <ion-col size="2">
      <ion-button
        class="service-item__btn-master"
        (click)="masterChange()"
        expand="block"
        color="medium"
        fill="outline"
      >
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-col> -->
    <ion-col size="2">
      <ion-button
        (click)="remove()"
        expand="block"
        color="danger"
        fill="outline"
      >
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        <!-- Удалить -->
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- <app-range-master-panel></app-range-master-panel> -->
