<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Профиль</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Профиль</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile">
    <img class="profile__avatar" src="/assets/svg/illustrations/profile.svg" alt="">
    <p class="profile__name">
      {{ profileList?.info?.shortName }}
    </p>
    <p class="profile__unp">
      {{ profileList?.info?.unp }}
    </p>
  </div>

  <!-- List -->
  <!-- <ion-list class="profile">
    <ion-grid>
      <ion-row>
        <ion-col class="profile-panel">
          {{ profileList | json }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list> -->

  <!-- Skeleton -->
  <!-- <ion-list class="services" *ngIf="!isLoaded">
    <ion-item
      class="services__item"
      *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
    >
      <ion-avatar class="services__avatar" slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
