<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Новый счет</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Новый счет</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Status -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" class="field field--select">
          <ion-label position="floating">Статус счета</ion-label>
          <ion-select
            [interfaceOptions]="customStatusActionSheetOptions"
            interface="action-sheet"
            placeholder="Выберите статус"
            cancelText="Отменить"
            (ionChange)="changeStatus($event)"
            [(ngModel)]="invoice.status"
          >
            <ion-select-option
              [value]="item"
              *ngFor="let item of invoiceStatusList"
              >
              {{ item?.name }}
              </ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Contractor -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-contractor-panel
          (contractor)="selectContractor($event)"
        ></app-contractor-panel>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="serviceList">
    <ion-row
      class="service-list"
      *ngFor="let item of serviceList; let i = index"
    >
      <ion-col size="12">
        <app-invoice-service-item
          [service]="serviceList[i]"
          (delete)="removeService($event)"
        ></app-invoice-service-item>

        <ion-button
          (click)="showServiceModal(i)"
          expand="block"
          *ngIf="serviceList[i].service === null"
        >
          Выбрать услугу
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="addService()"
          expand="block"
          *ngIf="checkEmptyLastServiceList()"
        >
          Добавить услугу
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="total">
          <span class="total__label">Итого:</span>
          <span class="total__sum"
            >{{ getTotalSum() | number: '0.0-2' }} руб.</span
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        expand="block"
        (click)="save()"
        [disabled]="!checkCanCreateInvoice()"
        >Создать</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
