<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Новый счет</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Новый счет</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Поиск по контрагенту</ion-label>
          <ion-input
            [(ngModel)]="unpSearch"
            (click)="showContractorModal()"
          ></ion-input>
          <ion-button
            (click)="showContractorModal()"
            expand="block"
            fill="clear"
            shape="round"
          >
            Выбрать
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="selectedContractor">
    <ion-row>
      <ion-col>
        <app-contractor-item
          [contractor]="selectedContractor"
        ></app-contractor-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="serviceList">
    <ion-row *ngFor="let item of serviceList; let i = index">
      <ion-col>
        <p>{{ serviceList[i] | json }}</p>
        <ion-button (click)="showServiceModal(i)" expand="block" *ngIf="serviceList[i].service === null">
          Выбрать услугу
        </ion-button>
        <ion-button (click)="removeService(i)" expand="block" color="danger" fill="outline" *ngIf="serviceList[i].service !== null">
          Удалить услугу
        </ion-button>
        <!-- <app-invoice-service-item></app-invoice-service-item> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="addInvoice()" expand="block">
          Добавить
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="save()">Создать</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
