<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Назад'" defaultHref="invoice"></ion-back-button>
    </ion-buttons>
    <ion-title>Новый счет</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Новый счет</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Status -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="field field--select">
          <ion-label position="fixed">Статус</ion-label>
          <ion-select
            [interfaceOptions]="customStatusActionSheetOptions"
            interface="action-sheet"
            placeholder="Выберите статус"
            cancelText="Отменить"
            (ionChange)="changeStatus($event)"
            [(ngModel)]="invoice.status"
          >
            <ion-select-option
              [value]="item"
              *ngFor="let item of invoiceStatusList"
            >
              {{ item?.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="field field--select">
          <ion-label position="fixed">Тип</ion-label>
          <ion-select
            [interfaceOptions]="customStatusActionSheetOptions"
            interface="action-sheet"
            placeholder="Выберите тип"
            cancelText="Отменить"
            (ionChange)="changeType($event)"
            [(ngModel)]="invoice.type"
          >
            <ion-select-option
              [value]="item"
              *ngFor="let item of invoiceTypeList"
            >
              {{ item?.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Contractor -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-contractor-panel
          (contractor)="selectContractor($event)"
        ></app-contractor-panel>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="invoice.services && invoice.services.length">
    <ion-row
      class="service-list"
      *ngFor="let item of invoice.services; let i = index"
    >
      <ion-col size="12">
        <app-invoice-service-item
          [service]="item"
          (delete)="removeService($event)"
          (update)="calculateTotalSum()"
        ></app-invoice-service-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button
          class="invoice-btn-add"
          (click)="addService()"
          expand="block"
          fill="outline"
        >
          Добавить услугу
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-signature-panel
          (result)="addSignature($event)"
        ></app-signature-panel>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="qr-block" *ngIf="qrdata">
    <ion-row>
      <ion-col size="12">
        <qrcode
          #qrBlock
          [qrdata]="qrdata"
          [width]="256"
          [errorCorrectionLevel]="'H'"
          [elementType]="'img'"
        ></qrcode>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="total-footer">
  <ion-toolbar>
    <div class="total">
      <div class="total__content">
        <span class="total__label">Итого:</span>
        <span class="total__sum">
          {{ invoice.total?.totalSum?.amount | number: '0.0-2' }} руб.
        </span>
      </div>
      <ion-button
        class="total__btn"
        expand="block"
        (click)="save()"
        [disabled]="!checkCanCreateInvoice()"
        >Создать</ion-button
      >
    </div>
  </ion-toolbar>
</ion-footer>
