<ion-header translucent>
  <ion-toolbar>
    <ion-title>Список контрагентов</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Закрыть</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated placeholder="УНП или название"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <!-- List -->
  <ion-grid *ngIf="contractorList">
    <ion-row>
      <ion-col size="12" *ngFor="let item of contractorList">
        <app-contractor-panel
          [setContractor]="item"
          [isViewMode]="false"
          [isSelectMode]="true"
          (select)="select($event)"
        ></app-contractor-panel>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
