<ion-header translucent>
  <ion-toolbar>
    <ion-title>Список контрагентов</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Закрыть</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated placeholder="УНП или название"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <!-- List -->
  <ion-grid *ngIf="contractorList">
    <ion-row>
      <ion-col size="12" *ngFor="let item of contractorList">
        <app-contractor-panel
          [setContractor]="item"
          [isViewMode]="false"
          [isSelectMode]="true"
          (select)="select($event)"
        ></app-contractor-panel>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- List -->
  <!-- <ion-list class="contractors" *ngIf="contractorList">
    <ion-item class="contractors__item" *ngFor="let item of contractorList">
      <div class="contractors__avatar" slot="start">
        <ion-icon
          class="contractors__avatar-icon"
          name="people-outline"
        ></ion-icon>
      </div>
      <ion-label>
        <h2>{{ item?.VSN }}</h2>
        <h3>УНП: {{ item?.NM }}</h3>
        <p>Дата создания: {{ item?._createdDate }}</p>
      </ion-label>

      <ion-button fill="outline" size="small" (click)="select(item)">
        <ion-icon
          slot="icon-only"
          name="ellipsis-horizontal-outline"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list> -->
</ion-content>
