<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="'Назад'"
        defaultHref="settings"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Ваши компания</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ваши компания</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="profileList && profileList.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let item of profileList">
          <app-contractor-panel
            [setContractor]="item"
            [isViewMode]="false"
            [isShowMore]="true"
            [path]="'profile'"
          ></app-contractor-panel>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
