<ion-header translucent>
  <ion-toolbar>
    <ion-title>Список услуг</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Закрыть</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated placeholder="Название"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <!-- List -->
  <!-- <ion-grid *ngIf="contractorList">
    <ion-row>
      <ion-col size="12" *ngFor="let item of contractorList">
        <app-service-panel
          [setService]="item"
          [isViewMode]="true"
          [isSelectMode]="true"
          (select)="select($event)"
        ></app-service-panel>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- List -->
  <div *ngIf="serviceList">
    <ion-list class="invoices" *ngFor="let group of groupServiceList">
      <ion-list-header>
        {{ group.group }}
      </ion-list-header>

      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let item of group.data">
            <app-service-panel
              [setService]="item"
              [isViewMode]="true"
              [isSelectMode]="true"
              (select)="select($event)"
            ></app-service-panel>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
  </div>
</ion-content>
