// out: false
//
ion-item {
  --padding-start: none;
  --highlight-height: 0;
}

// ------------------------------------------------
// Block '.total'
// ------------------------------------------------
.total {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  // background-color: #fafafa;
  // color: #333;
  background-color: #00ad64;
  color: #fff;
  padding: 20px;

  // Element '.total .total__label'
  & &__label {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    // color: #999;
    color: fade(#fff, 80%);
  }

  // Element '.total .total__sum'
  & &__sum {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    // color: #333;
    color: #fff;
  }
}

// ------------------------------------------------
// Block '.act-list'
// ------------------------------------------------
.act-list {
  & + & {
    border-top: 1px solid #eee;
  }
}

// ------------------------------------------------
// Block '.act-date'
// ------------------------------------------------
.act-date {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background: #fafafa;
  color: #333;
  padding: 10px 15px;

  & &__title {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 0;
    font-weight: 600;
  }

  & &__actions {
  }
}

// ------------------------------------------------
// Block '.act-list'
// ------------------------------------------------
.act-btn-add {
  display: flex;
  align-items: center;
  --border-color: fade(#00ad64, 25%);
  --border-width: 2px;
  --color: #00ad64;
  font-weight: 600;
  letter-spacing: 0.5px;
  background: fade(#00ad64, 5%);

  ion-icon {
    display: inline-flex;
    align-items: center;
  }
}
