<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Назад'" defaultHref="act"></ion-back-button>
    </ion-buttons>
    <ion-title>Новый акт</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="act" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Новый акт</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Status -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="field field--select">
          <ion-label position="fixed">Статус</ion-label>
          <ion-select
            [interfaceOptions]="customStatusActionSheetOptions"
            interface="action-sheet"
            placeholder="Выберите статус"
            cancelText="Отменить"
            (ionChange)="changeStatus($event)"
            [(ngModel)]="act.status"
          >
            <ion-select-option
              [value]="item"
              *ngFor="let item of actStatusList"
            >
              {{ item?.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="field field--select">
          <ion-label position="fixed">Договор</ion-label>
          <ion-select
            [interfaceOptions]="customStatusActionSheetOptions"
            interface="alert"
            placeholder="Выберите договор"
            cancelText="Отменить"
            (ionChange)="changeContract($event)"
            [(ngModel)]="act._contractId"
          >
            <ion-select-option [value]="item" *ngFor="let item of contractList">
              {{ item?.date }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Contractor -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-contractor-panel
          [setContractor]="selectedContractor"
          (contractor)="selectContractor($event)"
        ></app-contractor-panel>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="act && act.orderList">
    <ion-row
      class="service-list"
      *ngFor="let group of groupOrderListByDate(); let i = index"
    >
      <!-- Group Name -->
      <ion-col size="12">
        <div class="act-date">
          <h2 class="act-date__title">{{ group.groupName | date: 'dd MMM yyyy' }}</h2>
          <div class="act-date__actions">
            <button>Clone</button>
            <button>Add new</button>
          </div>
        </div>
      </ion-col>

      <!-- Group List -->
      <!-- <ion-col size="12" *ngFor="let item of group.groupList"> -->
      <ion-col size="12" *ngFor="let item of act.orderList">
        <app-invoice-service-item
          *ngIf="item.date == group.groupName"
          [service]="item.service"
          (delete)="removeService($event)"
          (update)="calculateTotalSum()"
        ></app-invoice-service-item>

        <!-- <ion-button
          class="act-btn-add"
          (click)="showServiceModal(i)"
          expand="block"
          fill="outline"
          *ngIf="serviceList[i].service === null"
        >
          Выбрать услугу
        </ion-button> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          class="act-btn-add"
          (click)="addService()"
          expand="block"
          fill="outline"
          *ngIf="checkEmptyLastServiceList()"
        >
          Добавить услугу
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid *ngIf="act && act.orderList">
    <ion-row
      class="service-list"
      *ngFor="let item of act.orderList; let i = index"
    >
      <ion-col size="12">
        <h2>{{act.orderList[i].date | date: 'dd.MM.yyyy'}}</h2>
        <app-invoice-service-item
          [service]="act.orderList[i].service"
          (delete)="removeService($event)"
        ></app-invoice-service-item>

        <ion-button
          class="act-btn-add"
          (click)="showServiceModal(i)"
          expand="block"
          fill="outline"
          *ngIf="serviceList[i].service === null"
        >
          Выбрать услугу
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          class="act-btn-add"
          (click)="addService()"
          expand="block"
          fill="outline"
          *ngIf="checkEmptyLastServiceList()"
        >
          Добавить услугу
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- Signature -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <app-signature-panel
          (result)="addSignature($event)"
        ></app-signature-panel>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="total">
          <span class="total__label">Итого:</span>
          <span class="total__sum"
            >{{ act.total?.totalSum?.amount | number: '0.0-2' }} руб.</span
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        expand="block"
        (click)="save()"
        [disabled]="!checkCanCreateInvoice()"
        >Создать</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
