<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Назад'" defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Новый профиль</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Новый профиль</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" class="field" [loader]="isLoadingSearchUnp">
          <ion-label position="floating">Введите УНП</ion-label>
          <ion-input
            [(ngModel)]="unpSearch"
            (change)="searchByUNP()"
            [disabled]="isLoadingSearchUnp"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="profile && profile.info.unp">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <app-contractor-panel
              [setContractor]="profile"
              [isViewMode]="true"
            ></app-contractor-panel>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ion-grid>

  <ion-grid *ngIf="profile.info.unp">
    <ion-row>
      <ion-col size="12">
        <app-bank-panel
          [setBank]="profile?.bankAccount?.bank"
          (bank)="selectBank($event)"
        ></app-bank-panel>
      </ion-col>
      <ion-col *ngIf="profile?.bankAccount?.bank">
        <app-field-swift
          [(ngModel)]="profile.bankAccount.SWIFT"
          label="Расчётный счёт (SWIFT)"
        ></app-field-swift>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Post address -->
  <app-accordion-line
    title="Почтовый адрес"
    (change)="collapse($event)"
  ></app-accordion-line>

  <ion-grid *ngIf="isCollapse">
    <ion-row>
      <ion-col size="12"> </ion-col>
      <ion-col size="12">SWIFT</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="save()">Создать</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
