// out: false
//
// ------------------------------------------------
// Block '.field'
// ------------------------------------------------
.field {
  position: relative;
  border: 2px solid #eee;
  border-radius: 4px;
  padding-left: 15px;

  // ion-select{
  //   padding: 0;
  // }

  .select-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
    font-weight: 600;
  }
}
