<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Счета</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Счета</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List -->
  <ion-list class="services" *ngIf="isLoaded">
    <!-- <ion-list-header class="services__header">
      Активные
    </ion-list-header> -->

    <ion-item class="services__item" *ngFor="let item of listData">
      <div class="services__avatar" slot="start">
        <ion-icon
          class="services__avatar-icon"
          name="people-outline"
        ></ion-icon>
      </div>
      <ion-label>
        <h2>{{ item?.billTo.VSN }}</h2>
        <p>{{ item?.createDate }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Skeleton -->
  <ion-list class="services" *ngIf="!isLoaded">
    <ion-item
      class="services__item"
      *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
    >
      <ion-avatar class="services__avatar" slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
