<ion-header translucent>
  <ion-toolbar>
    <ion-title>Список банков</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Закрыть</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated placeholder="БИК номер" [(ngModel)]="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <!-- List -->
  <ion-grid *ngIf="bankList">
    <ion-row>
      <ion-col size="12" *ngFor="let item of bankList | filter: search">
        <app-bank-panel
          [setBank]="item"
          [isSelectMode]="true"
          (select)="select($event)"
        ></app-bank-panel>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
